{% extends 'base.html' %}
{% block title %} {{title}} - Employees {% endblock title %}
{% block content %}

{% ifequal login_msg "ok" %}
<script>
    alert('Add employee succussfully!');
    window.location.href = '{% url "index" %}';
</script>
{% endifequal %}
{% ifequal login_msg "no" %}
<script>
    alert('Not inserted data, please try again!');
</script>
{% endifequal %}

<div class="container mt-4">
<h2 id="text" class="my-3 text-center">Add Employees</h2>

<div class="card mx-auto col-8 my-4" >
    <form action="/add/" method="post" class="">{% csrf_token %}
        <table class="" cellpadding="15" >
            <tr class="">
                <th>First Name : </th>
                <td><input type="text" class="form-control" required name="first_name" placeholder="Enter first name"></td>
                <th>Last Name : </th>
                <td><input type="text" class="form-control" required name="last_name" placeholder="Enter last name"></td>
            </tr>
            <tr>
                <th>Salary  : </th>
                <td><input type="number" class="form-control" name="salary" placeholder="Enter employee salary" required></td>
                <th>Bonus : </th>
                <td><input type="number" class="form-control" name="bonus" placeholder="Enter employee bonus" required></td>
            </tr>
            <tr>
                <th>Phone No  : </th>
                <td colspan="3"><input type="number" class="form-control" name="phone" placeholder="Enter employee phone number" required></td>

            </tr>
             <tr>
                <th>Department: </th>
                <td><input type="number" class="form-control" name="department" value="{{department}}" required placeholder="Enter employee department">

                </td>
                <th>Role : </th>
                <td><input type="number" class="form-control" name="role" value="{{role}}" required placeholder="Enter employee role"></td>
            </tr>


            <tr>
                <th colspan="4"><input type="submit" value="Add Employees" class="btn col-12 btn-warning"></th>
            </tr>
        </table>



    </form>


</div>
</div>
{% endblock content %}